<div><br><br></div>
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img   src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
        	 <img  src="/img/Bilaxten2.png" alt="Second slide">
		</div>
		<div class="slide">
          	<img  src="/img/Defal2.png" alt="Second slide">
        </div>
		<div class="slide">
          	<img  src="/img/Diotul.png" alt="Second slide">
        </div>
		<div class="slide">
			<img src="/img/Eclosynt 250.png"  alt="">
		</div>
		<div class="slide">
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Eclosynt Nas.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Idofix.png" alt="">
		</div>

		<div class="slide">
			<img src="/img/Iprasynt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes.png"  alt="">
		</div>
				<div class="slide">
			
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes2.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Sacrusyt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Venosmil.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Potenciator.png"  alt="">
		</div>
						<div class="slide">
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Positon.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Ferroprotina.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/Defal.png"  alt="">
		</div>

		<div class="slide">
			<img src="/img/Bilaxten.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/Hidroferol.png"  alt="">
		</div>

		<div class="slide">
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
        	 <img  src="/img/Bilaxten2.png" alt="Second slide">
		</div>
		<div class="slide">
          	<img  src="/img/Defal2.png" alt="Second slide">
        </div>
		<div class="slide">
          	<img  src="/img/Diotul.png" alt="Second slide">
        </div>
		<div class="slide">
			<img src="/img/Eclosynt 250.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Eclosynt Nas.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Idofix.png" alt="">
		</div>

		<div class="slide">
			<img src="/img/Iprasynt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes.png"  alt="">
		</div>
				<div class="slide">
			
			<img src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes2.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Sacrusyt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Venosmil.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Potenciator.png"  alt="">
		</div>
						<div class="slide">
			<img src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Positon.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Ferroprotina.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/Defal.png"  alt="">
		</div>

		<div class="slide">
			<img src="/img/Bilaxten.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/Hidroferol.png"  alt="">
		</div>

		<div class="slide">
			<img src="/img/balon.jpg"  alt="">
		</div>
	</div>
</div>
<div><br><br></div>


<br>
<h1 style="text-align:center; font-size: 2rem " > {{nombre}}   {{apellido}} </h1>
 <h1 style="text-align:center; font-size: 2rem "  >Bienvenido al Grupo D</h1> 
<br>
<h2 style="font-size:2rem; margin-left:2%">Su puntuación:  <b>   {{puntos}} </b></h2>
<h2 style="font-size:2rem; margin-left:2%">estas Ubicado en la Posición: <b> {{posicion}}</b></h2>
<br>
<div style="width: 80%; text-align:center; margin-left:2%">



{{#if notes}}

  <table class="table table-bordered table-hover table-primary table-striped-columns" >
    <thead>
      <tr >

       <th style="font-size: 1.25rem" >GRUPO</th>
        <th style="font-size: 1.25rem">FECHA</th>
        <th style="font-size: 1.25rem" >EQUIPO </th>
        <th style="font-size: 1.25rem">PRONÓSTICO</th>
        <th  style="font-size: 1.25rem">EQUIPO </th>
        <th style="font-size: 1.25rem">PRONÓSTICO</th>
        <th style="font-size: 1.25rem">PUNTOS</th>
        <th style="font-size: 1.25rem" >Acción</th>
      </tr>
    </thead>
    <tbody>
      {{#each notes}}
        <tr >
          <td style="font-size: 1.25rem">{{grupo}}</td>
          <td style="font-size: 1.25rem">{{fecha}}</td>

		  <td  style="font-size: 1.25rem"> {{equipo1}}</td>
          <td style="font-size: 1.25rem">{{pronostico1}}</td>

		  <td style="font-size: 1.25rem">{{equipo2}}</td>
          <td style="font-size: 1.25rem">{{pronostico2}}</td>
          <td style="font-size: 1.25rem">{{puntos}}</td>

          <td><a href="/notes/edit/{{_id}}"><i class="fas fa-pen-alt" style="color: black"></i></a></td>
          
        </tr>
       {{/each}}
    </tbody>
  </table>
{{/if}}
</div>
<br><br>

